version: '3.8'

services:
  postgres_db:
    image: postgres:18-alpine
    container_name: my_postgres_db
    
    env_file: # !!! Load environment variables from .env file
      - .env
      
    volumes:
      - postgres_data:/var/lib/postgresql
      
    ports:
      - "5432:5432"
      
    restart: unless-stopped

volumes:
  postgres_data:
    driver: local